
.header-menu-mobile{
    display:none;
    z-index:9999;
}

@media only screen and (max-width: 767px){
    .header-menu-mobile{
        display:block;
    }
    .header-menu{
        display:none;
    }
}