<header class="pt-3 lg:p-4 lg:pb-0 lg:mb-4 bg-gray-100 border-b border-gray-900 lg:border-transparent text-coolGray-800">
	<div class="container flex justify-between h-16 mx-auto mb-5">
		<a title="Blazed Watch" rel="noopener noreferrer" href="/home" aria-label="Back to homepage" class="flex items-center p-2 hover:opacity-75">
            <img src="https://blazed.sirv.com/logo/Beaker-Dark.png?w=50&h=50" />
		</a>
		<div class="header-menu">
			<app-nav></app-nav>
		</div>
		<button (click)="burgerVisible = !burgerVisible" class="md:flex justify-end p-4 md:hidden">
			<ng-container *ngIf="burgerVisible">
				<svg width="45" height="45" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.646 5.646a.5.5 0 000 .708l8 8a.5.5 0 00.708-.708l-8-8a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
					<path fill-rule="evenodd" d="M14.354 5.646a.5.5 0 010 .708l-8 8a.5.5 0 01-.708-.708l8-8a.5.5 0 01.708 0z" clip-rule="evenodd"/>
				</svg>
			</ng-container>
			<ng-container *ngIf="!burgerVisible">
				<svg width="45" height="45" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M4.5 13.5A.5.5 0 015 13h10a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-4A.5.5 0 015 9h10a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-4A.5.5 0 015 5h10a.5.5 0 010 1H5a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
				</svg>
			</ng-container>
		</button>
	</div>
	<ng-container *ngIf="burgerVisible">
		<div class="absolute bg-gray-100 w-full h-full header-menu-mobile">
			<app-nav></app-nav>
		</div>
	</ng-container>
    <hr />
</header>