<ul class="items-stretch md:space-x-3 md:flex sm:block">
    <li class="md:flex sm:block">
        <a rel="noopener noreferrer" routerLink="/home" routerLinkActive="is-active" class="flex items-center px-4 -mb-1 border-b-1 border-transparent">
            Home
        </a>
    </li>
    <li class="md:flex sm:block">
        <a rel="noopener noreferrer" routerLink="/browse" routerLinkActive="is-active" class="flex items-center px-4 -mb-1 border-b-1 border-transparent">
            Browse
        </a>
    </li>
    <app-login></app-login>
</ul>