.video-player{
   
}
.video-js{
    height:430px;
    width:720px;
}
@media only screen and (max-width: 767px){
    .video-js{
        width:100%;
        height:300px;
    }
}

@media only screen and (max-width: 475px){
    .video-js{
        width:100%;
        height:188px;
    }
}