<div class="container p-2 mx-auto sm:p-4 text-gray-800">
<h2 class="font-bold mb-4 text-2xl leading-tight">
    Creator Stats
</h2>
<div class="p-6 my-6 bg-gray-100 text-gray-800">
	<div class="container grid grid-cols-1 gap-6 mx-auto sm:grid-cols-2 xl:grid-cols-4">
		<div class="flex p-4 space-x-4 rounded-lg md:space-x-6 bg-gray-50 text-gray-800">
			<div class="flex justify-center p-2 align-middle rounded-lg sm:p-4 bg-blue-600">
                <svg class="h-11 w-11 text-gray-100" width="50" height="50" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.596 10.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V6.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 010 1.393z"/>
                </svg>
			</div>
			<div class="flex flex-col justify-center align-middle">
				<p class="text-3xl font-semibold leading-none">
                    60
                </p>
				<p class="capitalize">
                    Videos
                </p>
			</div>
		</div>
		<div class="flex p-4 space-x-4 rounded-lg md:space-x-6 bg-gray-50 text-gray-800">
			<div class="flex justify-center p-2 align-middle rounded-lg sm:p-4 bg-blue-600">
                <svg class="h-9 w-9 mt-1 text-gray-100" width="50" height="50" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M7.5 14s.65.65.117 1.948A4.821 4.821 0 017 17c.449 0 .887-.067 1.307-.181C10.692 16.169 12.5 14 12.5 14a5.5 5.5 0 100-11h-5a5.5 5.5 0 100 11z" clip-rule="evenodd"/>
                </svg>
			</div>
			<div class="flex flex-col justify-center align-middle">
				<p class="text-3xl font-semibold leading-none">
                    300
                </p>
				<p class="capitalize">
                    Comments
                </p>
			</div>
		</div>
		<div class="flex p-4 space-x-4 rounded-lg md:space-x-6 bg-gray-50 text-gray-800">
			<div class="flex justify-center p-2 align-middle rounded-lg sm:p-4 bg-blue-600">
                <svg class="h-9 w-9 text-gray-100 mt-1" width="50" height="50" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M9 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H9zm4-6a3 3 0 100-6 3 3 0 000 6zm-5.784 6A2.238 2.238 0 017 15c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 007 11c-4 0-5 3-5 4s1 1 1 1h4.216zM6.5 10a2.5 2.5 0 100-5 2.5 2.5 0 000 5z" clip-rule="evenodd"/>
                </svg>
			</div>
			<div class="flex flex-col justify-center align-middle">
				<p class="text-3xl font-semibold leading-none">
                    117
                </p>
				<p class="capitalize">
                    Subscribers
                </p>
			</div>
		</div>
		<div class="flex p-4 space-x-4 rounded-lg md:space-x-6 bg-gray-50 text-gray-800">
			<div class="flex justify-center p-2 align-middle rounded-lg sm:p-4 bg-blue-600">
                <svg class="h-9 w-9 text-gray-100 mt-1" width="50" height="50" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M10 2l1.669.864 1.858.282.842 1.68 1.337 1.32L15.4 8l.306 1.854-1.337 1.32-.842 1.68-1.858.282L10 14l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L4.6 8l-.306-1.854 1.337-1.32.842-1.68 1.858-.282L10 2z"/>
                    <path d="M6 13.794V18l4-1 4 1v-4.206l-2.018.306L10 15.126 8.018 14.1 6 13.794z"/>
                </svg>
			</div>
			<div class="flex flex-col justify-center align-middle">
				<p class="text-3xl font-semibold leading-none">
                    8
                </p>
				<p class="capitalize">
                    Awards
                </p>
			</div>
		</div>
	</div>
</div>
</div>