<article>
  <div *ngIf="auth.user$ | async as user">
    <div class="md:grid md:grid-cols-[270px_minmax(500px,_2fr)_0px]">
    <div class="column h-full p-3 space-y-2 md:w-60 bg-gray-50 text-gray-800">
      <div class="flex items-center p-2 space-x-4">
        <img src="{{ user.picture }}" alt="" class="w-12 h-12 rounded-full bg-gray-500">
        <div>
          <h2 title="{{ user.nickname }}" class="text-lg font-semibold">
            {{ user.nickname | stringLength: 12 }}
          </h2>
          <span class="flex items-center space-x-1">
            <span title="{{ user.email }}" rel="noopener noreferrer" class="text-xs text-gray-600">
              {{ user.email | stringLength: 20 }}
            </span>
          </span>
        </div>
      </div>
      <div class="divide-y divide-gray-300">
        <ul class="pt-2 pb-4 space-y-1 text-sm">
          <li>
            <a routerLink="/dashboard/userdash" routerLinkActive="is-active" rel="noopener noreferrer" class="flex items-center p-2 space-x-3 rounded-md">
              <svg class="w-5 h-5 fill-current text-gray-600" width="30" height="30" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">  <rect width="6" height="6" x="3.5" y="10.5" rx="1"/>
                <rect width="6" height="6" x="10.5" y="10.5" rx="1"/>
                <rect width="6" height="6" x="10.5" y="3.5" rx="1"/>
                <rect width="6" height="6" x="3.5" y="3.5" rx="1"/>
              </svg>
              <span>Dashboard</span>
            </a>
          </li>
          <li>
            <a routerLink="/dashboard/videos" routerLinkActive="is-active" rel="noopener noreferrer" class="flex items-center p-2 space-x-3 rounded-md">
              <svg class="w-5 h-5 fill-current text-gray-600" width="30" height="30" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M4.667 5h6.666C12.253 5 13 5.746 13 6.667v6.666c0 .92-.746 1.667-1.667 1.667H4.667C3.747 15 3 14.254 3 13.333V6.667C3 5.747 3.746 5 4.667 5z"/>
                <path d="M9.404 10.697l6.363 3.692c.54.313 1.233-.066 1.233-.697V6.308c0-.63-.692-1.01-1.233-.696L9.404 9.304a.802.802 0 000 1.393z"/>
              </svg>
              <span>Videos</span>
            </a>
          </li>
          <li>
            <a rel="noopener noreferrer" routerLink="/dashboard/notifications" routerLinkActive="is-active" class="flex items-center p-2 space-x-3 rounded-md">
              <svg class="w-5 h-5 fill-current text-gray-600" width="30" height="30" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 18a2 2 0 002-2H8a2 2 0 002 2zm.995-14.901a1 1 0 10-1.99 0A5.002 5.002 0 005 8c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
              </svg>
              <span>Notifications</span>
            </a>
          </li>
          <li>
            <a routerLink="/dashboard/favorites" routerLinkActive="is-active" rel="noopener noreferrer" class="flex items-center p-2 space-x-3 rounded-md">
              <svg class="w-5 h-5 fill-current text-gray-600" width="30" height="30" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10 3.314C14.438-1.248 25.534 6.735 10 17-5.534 6.736 5.562-1.248 10 3.314z" clip-rule="evenodd"/>
              </svg>
              <span>Favorites</span>
            </a>
          </li>
          <li>
            <a rel="noopener noreferrer" routerLink="/dashboard/upload" routerLinkActive="is-active" class="flex items-center p-2 space-x-3 rounded-md">
              <svg class="w-5 h-5 fill-current text-gray-600" width="30" height="30" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M6.887 8.2l-.964-.165A2.5 2.5 0 105.5 13H8v1H5.5a3.5 3.5 0 11.59-6.95 5.002 5.002 0 119.804 1.98A2.501 2.501 0 0115.5 14H12v-1h3.5a1.5 1.5 0 00.237-2.982L14.7 9.854l.216-1.028a4 4 0 10-7.843-1.587l-.185.96z"/>
                <path fill-rule="evenodd" d="M7 10.854a.5.5 0 00.707 0L10 8.56l2.293 2.293a.5.5 0 00.707-.707L10.354 7.5a.5.5 0 00-.708 0L7 10.146a.5.5 0 000 .708z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M10 8a.5.5 0 01.5.5v8a.5.5 0 01-1 0v-8A.5.5 0 0110 8z" clip-rule="evenodd"/>
              </svg>
              <span>Upload</span>
            </a>
          </li>
        </ul>
        <ul class="pt-4 pb-2 space-y-1 text-sm">
          <li>
            <a routerLink="/dashboard/account" routerLinkActive="is-active" rel="noopener noreferrer" class="flex items-center p-2 space-x-3 rounded-md">
              <svg class="w-5 h-5 fill-current text-gray-600" width="30" height="30" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M11.405 3.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 01-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 01.872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 012.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 012.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 01.872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 01-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 01-2.105-.872l-.1-.34zM10 12.93a2.929 2.929 0 100-5.858 2.929 2.929 0 000 5.858z" clip-rule="evenodd"/>
              </svg>
              <span>Account</span>
            </a>
          </li>
          <li>
            <a (click)="auth.logout()" rel="noopener noreferrer" href="#" class="flex items-center p-2 space-x-3 rounded-md">
              <svg class="w-5 h-5 fill-current text-gray-600" width="30" height="30" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 6.354a.5.5 0 00.708 0L10 3.707l2.646 2.647a.5.5 0 00.708-.708l-3-3a.5.5 0 00-.708 0l-3 3a.5.5 0 000 .708z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M10 13.5a.5.5 0 00.5-.5V4a.5.5 0 00-1 0v9a.5.5 0 00.5.5z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M4.5 16A1.5 1.5 0 006 17.5h8a1.5 1.5 0 001.5-1.5V9A1.5 1.5 0 0014 7.5h-1.5a.5.5 0 000 1H14a.5.5 0 01.5.5v7a.5.5 0 01-.5.5H6a.5.5 0 01-.5-.5V9a.5.5 0 01.5-.5h1.5a.5.5 0 000-1H6A1.5 1.5 0 004.5 9v7z" clip-rule="evenodd"/>
              </svg>
              <span>Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="column pt-10 px-5 md:pt-1 md:px-1">
      <router-outlet></router-outlet>
    </div>
    </div>
  </div>
</article>