<section class="py-6 bg-gray-100 text-gray-900">
	<div class="container grid grid-cols-2 gap-4 p-4 mx-auto md:grid-cols-4">
		<img src="https://blazed.sirv.com/ibis/blazed-arena.jpg" alt="" class="w-full h-full col-span-2 row-span-2 rounded shadow-sm min-h-96 md:col-start-3 md:row-start-1 bg-gray-500 aspect-square">
		<img alt="" class="w-full h-full rounded shadow-sm min-h-48 bg-gray-500 aspect-square" src="https://blazed.sirv.com/ibis/blazed-cc.jpg">
		<img alt="" class="w-full h-full rounded shadow-sm min-h-48 bg-gray-500 aspect-square" src="https://blazed.sirv.com/ibis/blazed-city.jpg">
		<img alt="" class="w-full h-full rounded shadow-sm min-h-48 bg-gray-500 aspect-square" src="https://blazed.sirv.com/ibis/blazed-games.jpg">
		<img alt="" class="w-full h-full rounded shadow-sm min-h-48 bg-gray-500 aspect-square" src="https://blazed.sirv.com/ibis/blazed-quest.jpg">
		<img alt="" class="w-full h-full rounded shadow-sm min-h-48 bg-gray-500 aspect-square" src="https://blazed.sirv.com/ibis/blazed-space.jpg">
		<img alt="" class="w-full h-full rounded shadow-sm min-h-48 bg-gray-500 aspect-square" src="https://blazed.sirv.com/ibis/blazed-systems.jpg">
		<img alt="" class="w-full h-full rounded shadow-sm min-h-48 bg-gray-500 aspect-square" src="https://blazed.sirv.com/ibis/blazed-tel.jpg">
		<img alt="" class="w-full h-full rounded shadow-sm min-h-48 bg-gray-500 aspect-square" src="https://blazed.sirv.com/ibis/blazed-world.jpg">
		<img src="https://blazed.sirv.com/ibis/blazed-bed.jpg" alt="" class="w-full h-full col-span-2 row-span-2 rounded shadow-sm min-h-96 md:col-start-1 md:row-start-3 bg-gray-500 aspect-square">
	</div>
</section>